* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: #fff;
}
.banner {
  background: url(../images/banner.png) center/cover no-repeat,
    linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      rgba(18, 67, 88, 0.95),
      rgb(0, 0, 0)
    );
  background-blend-mode: overlay;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #33a8db80;
}
.banner-content {
  color: #000;
  width: 600px;
  margin: auto;
  text-align: center;
  & h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33a8db, #1472b7);
    background-clip: text;
    -webkit-background-clip: text;
  }
  & p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
  }
  & button {
    color: #31a8dd;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border: 2px solid #3ba1cd;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(51, 168, 219, 0.5);
  }
  & button:hover {
    background: linear-gradient(#3ba1cd, #1572b7);
    color: white;
  }
}
.logo {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.6);
  height: 260px;
  width: 260px;
  margin: auto;
  border-radius: 50%;
  padding: 16px;
  margin-bottom: 16px;
}
#course-content {
  background-color: black;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .header {
    padding-top: 120px;
    max-width: 800px;
    width: 100%;
  }

  & h2 {
    color: #33a8db;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  & p {
    font-size: 1rem;
    margin: 16px 0 24px;
  }
}
.modules-list {
  padding: 24px 0;
  color: #fff;
}
.module {
  width: 530px;
  margin: 0 auto 24px;
  border: 1px solid #33a8db;
  background-color: #252525;
  padding: 16px;
  border-radius: 100px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);

  & span {
    color: #33a8db;
  }
}
